article {
    background-color: transparent;
    padding: 1em;
    color: antiquewhite;
}

header {
    padding: 1em;
    background-color: brown;
    border-radius: 35px 35px 0px 0px;
    -moz-border-radius: 35px 35px 0px 0px;
    -webkit-border-radius: 35px 35px 0px 0px;
    color: rgb(247, 245, 245);
}

.contenido {
    padding: 1em;
    border-radius: 0px 0px 35px 35px;
    -moz-border-radius: 0px 0px 35px 35px;
    -webkit-border-radius: 0px 0px 35px 35px;
    color: black;

}

.fondoBlanco {
    background-color: rgb(247, 245, 245);
}

.inicio {

    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
}