article {
    background-color: transparent;
    padding: 1em;
    color: antiquewhite;
}

.contenido {
    padding: 1em;
    padding-top: 2em;
    color: black;

}

.fondoBlanco {
    background-color: rgb(247, 245, 245);
}

.inicio {

    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    max-width: 90%;
}
.llenar {
    padding: 0;
    max-width: 100%;
    width: 100%;
}

tablas{
    display: block;
}