<article class="container inicio">

    <div class="row text-center">
        <app-titulo class="col-12 llenar" titulo="Bienvenido a PokemonApp"></app-titulo>

        <div class="col-12 contenido fondoBlanco">
            <p> Proyecto realizado en Angular y utilizando <a href="https://pokeapi.co/">PokemonApi </a></p>
            <br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="table-title titulo">
                            <h2>Items</h2>
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td class="contenido-tabla">
                            <p>Puede ver una lista con todos los items del juego y sus descripciones</p>
                            <a routerLink="/items"><button class="btn btn-lg btn-danger"> ver Items
                                    <fa-icon [icon]="faCircleArrowRight"></fa-icon>
                                </button></a>
                        </td>
                    </tr>

            </table>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="table-title titulo">
                            <h2>Pokemón</h2>
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td class="contenido">
                            <p>Puede ver una lista con todos los Pokemon del juego y sus descripciones</p>
                            <a routerLink="/pokemon"><button class="btn btn-lg btn-danger"> ver Pokemón
                                    <fa-icon [icon]="faCircleArrowRight"></fa-icon>
                                </button></a>
                        </td>
                    </tr>

            </table>

        </div>
    </div>


</article>