<article class="container">
    <!--spinner al cargar-->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)"  size="medium" color="#fff" 
    template='<img src="assets/pikachu-running.gif" width=100px />'>
            <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
    <!--titulo-->
    <app-titulo class="col-12 llenar" titulo="Items"
        imagenURL="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></app-titulo>
    <!-- mostrar todos los items-->
    <div class="container text-center contenido">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 item" *ngFor="let it of ordenar(items)">
                <a routerLink="/items/{{it.id}}">
                    <div class="col-12">
                        <img src={{it.sprites.default}}
                            alt="{{it.sprites.default== null? 'imagen no disponible' :'Imagen de'+ it.name}}"
                            width="45%">
                        <h5>{{capitalizar(buscarNombre(it).replaceAll("-", " "))}}</h5>
                    </div>
                </a>
            </div>
        </div>

        <!--paginador-->
        <div class="paginador">
            <div class="row text-center">
                <!-- Cantidad de Items -->
                <div class="col-12">
                    <span class="pyBadge">Cantidad de items: {{RegistrosTotales}}</span>
                </div>
                <div class="col-12">
                <!--navegador de paginas-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        <!--inicio del paginador-->
                        <li class="page-item indicePagina" *ngIf="Pagina>1" (click)="navegarPagina(Pagina-1)">
                            <a class="page-link indicePagina" aria-label="Previous">
                                << </a>
                        </li>
                        <li class="page-item indicePagina" *ngIf="mostrarInicio" (click)="navegarPagina(1)"><a
                                class="page-link indicePagina">1</a></li>
                        <li class="page-item indicePagina" *ngIf="mostrarInicio"
                            (click)="navegarPagina(paginas[0]-1)"><a class="page-link indicePagina">...</a>
                        </li>

                        <!--rango de paginas-->
                        <div *ngFor="let j of paginas">
                            <li class="page-item indicePagina" [ngClass]="{'active':j==Pagina}"
                                (click)="j!=Pagina? navegarPagina(j): null" *ngIf="j!=0">
                                <a class="page-link indicePagina" [ngClass]="{'active':j==Pagina}">{{j}}</a>
                        </div>


                        <!--final del paginador-->
                        <li class="page-item indicePagina" *ngIf="mostrarFinal"
                            (click)="navegarPagina(obtenerUltimoindice()+1)"><a
                                class="page-link indicePagina">...</a></li>
                        <li class="page-item indicePagina"
                            [ngClass]="{'active':Pagina == redondear(RegistrosTotales/24)}" *ngIf="mostrarFinal"
                            (click)="navegarPagina(redondear(RegistrosTotales/24))">
                            <a class="page-link indicePagina"
                                [ngClass]="{'active':Pagina == redondear(RegistrosTotales/24)}">
                                {{redondear(RegistrosTotales/24)}} </a>
                        </li>
                        <li class="page-item indicePagina" (click)="navegarPagina(Pagina+1)"
                            *ngIf="Pagina != redondear(RegistrosTotales/24)">
                            <a class="page-link indicePagina" aria-label="Next">
                                >>
                            </a>
                        </li>
                    </ul>
                </nav>
                    
                </div>
            </div>
        </div>
    </div>

</article>