<article class="container">
    <!--titulo-->
    <app-titulo class="col-12 llenar" titulo="Items" imagenURL="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></app-titulo>
    <!-- mostrar todos los items-->
    <div class="container text-center contenido">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 item" *ngFor="let it of items">
                <a routerLink="/items/{{it.id}}">
                    <div class="col-12">
                        <img src={{it.sprites.default}}
                            alt="{{it.sprites.default== null? 'imagen no disponible' :'Imagen de'+ it.name}}"
                            width="45%">
                        <h5>{{capitalizar(buscarNombre(it).replaceAll("-", " "))}}</h5>
                    </div>
                </a>
            </div>
        </div>
        <!--paginador-->
        <div class="paginador">
            <div class="row text-center">
                <div class="col-12">
                    <span class="pyBadge">Cantidad de items: {{RegistrosTotales}}</span>
                </div>
                <div class="col-12">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item indicePagina" *ngIf="Pagina>1" (click)="buscarItems(-1)">
                                <a class="page-link indicePagina" aria-label="Previous">
                                    << </a>
                            </li>
                            <div *ngFor="let j of paginas">
                                <li class="page-item indicePagina" [ngClass]="{'active':j==Pagina}"
                                    (click)="buscarItems(-Pagina+j)" *ngIf="j!=0">
                                    <a class="page-link indicePagina" [ngClass]="{'active':j==Pagina}">{{j}}</a>
                            </div>
                            <li class="page-item indicePagina" *ngIf="RegistrosTotales/24>10"
                                (click)="buscarItems(-Pagina+obtenerUltimoindice()+1)"><a
                                    class="page-link indicePagina">...</a></li>
                            <li class="page-item indicePagina"
                                [ngClass]="{'active':Pagina == redondear(RegistrosTotales/24)}"
                                *ngIf="RegistrosTotales/24>10"
                                (click)="buscarItems(-Pagina+redondear(RegistrosTotales/24))">
                                <a class="page-link indicePagina"
                                    [ngClass]="{'active':Pagina == redondear(RegistrosTotales/24)}">
                                    {{redondear(RegistrosTotales/24)}} </a>
                            </li>
                            <li class="page-item indicePagina" (click)="buscarItems(1)">
                                <a class="page-link indicePagina" aria-label="Next">
                                    >>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</article>