<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <div class="col-4 col-m-3 ">
            <a href="#">
            <img class = "logo" src="assets/Pokemon-Logo.png" width="70%">
            </a>
        </div>

        <div class="col-8 col-m-9 busqueda">
            <form  role="search">
                <input type="search" class="form-control buscador" placeholder="Buscar" aria-label="Search">
            </form>
        </div>
    </div>

</div>