

.buscador {
    background-color: #fde82bd8;
    color: #2b343b;
    display: block;
    border-radius: 35px 0px 0px 35px;
    -moz-border-radius: 35px 0px 0px 35px;
    -webkit-border-radius: 35px 0px 0px 35px;

}

.buscador:focus {
    background-color: #fdf92b;
    ;
}

.buscador:hover {
    background-color: #fdf92b;
    ;
}

.logo:hover {
    background-color: brown;
    cursor: pointer;
}

busqueda {
    padding: 5%;
}

.btn-search {
    background-color: #fde82bd8;
    color: antiquewhite;
    display: block;
    border-radius: 0px 35px 35px 0px;
    -moz-border-radius: 0px 35px 35px 0px;
    -webkit-border-radius: 0px 35px 35px 0px;

}


.resultados {
    max-height: 280px;
    padding: 0;
    overflow-y: auto;
    opacity: 1;
    position: absolute;
    background-color: #fde82bd8;
    z-index: 20;
}


.resultado{
    list-style: none;
    margin-left: -12px;

    color:  #2b343b;
    padding:8px;
    width: 100%;
    display: flex;
}

.resultado:hover{
    background-color: #c0bd23;
    cursor: pointer;
}
.buscando{
    border-radius: 15px 0px 0px 0px;
    -moz-border-radius: 15px 0px 0px 0px;
    -webkit-border-radius: 15px 0px 0px 0px;
}

.resaltado{
    background-color: #c0bd23;
    color: rgb(95, 95, 95);
}

.resultados.inactivo {
    visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

}

@media (max-width: 768px) {
    .icono-busqueda {
        font-size: 0.8em;
    }
    .logo{
        width: 100%;
    }
}

#btn-items {
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr{
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    border: #2b343b solid 1px;
}