.contenedor-circulo{
    height: 7px;
    justify-content: center;

}
.pokeball{
    background-color: rgb(27, 27, 27);
    height: 21px;
    position: relative;
}

.circulo{
    border-radius: 50%;

    background-color: rgb(27, 27, 27);
    position: absolute;
    display: block;
    justify-self: center;
    width: 65px;
    height: 65px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.circulo-interior{
    border-radius: 50%;
    background-color: rgb(247, 245, 245);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 7px;
    left: 5px;
    right: 5px;
    margin: 0 auto;
    z-index: 2;
 
}
header {
    padding: 1em;
    background-color: #DC3545;
    border-radius: 35px 35px 0px 0px;
    -moz-border-radius: 35px 35px 0px 0px;
    -webkit-border-radius: 35px 35px 0px 0px;
    color: rgb(247, 245, 245);
}

.llenar {
    width: 100%;
}