<div class="container  contenido">
    <!--spinner al cargar-->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
    <!--imagen y nombre del item-->
    <div class="row ">
        <div class="col-12 col-md-6 imagen text-center">
            <div class="botones">
                <button class="btn btn-lg btn-primary btn-volver" (click)="volver()">
                    <fa-icon [icon]="faCircleArrowLeft"></fa-icon> Volver
                </button>
            </div>
            <div class="col-12 centro-pantalla">
                <img src={{item.sprites.default}} width="20%" alt={{item.name}}>


                <h1 class="nombreItem">{{capitalizar(buscarNombre(item).replaceAll("-", " "))}}</h1>
            </div>

        </div>

        <!--descripcion del item-->
        <div class="col-12 col-md-6 descripcion">
            <h2 class="text-center">Descripcion</h2>
            <hr style="font-size: 2em;">
            <div class="caracteristicas">
                <p>Categoria: {{capitalizar(item.category.name.replaceAll("-", " "))}}</p>
                <p>Costo: {{item.cost}} pk</p>
                <p></p>
                <p *ngIf="item.fling_power!= null">Poder de lanzamiento: {{item.fling_power }} </p>
                <p *ngIf="item.fling_effect!= null">Efecto de lanzamiento: {{item.fling_effect.name}} </p>
                <div *ngIf="item.attributes!=null && item.attributes.length>0">
                    <p>Atributos: </p>
                    <ul>
                        <li *ngFor="let a of item.attributes">{{a.name}}</li>
                    </ul>
                </div>
                <hr style="font-size: 2em;">
                <div *ngIf="item.flavor_text_entries!=null && item.flavor_text_entries.length>0">
                    <button class="btn btn-lg btn-warning col-12"
                    style="margin-top: 1em; margin-bottom: 1em;"
                        (click)="mostrarDescripcion = !mostrarDescripcion">
                        <h4>Descripcion en juegos <i class="fa-solid fa-caret-down"></i></h4>
                        </button>
                    <div *ngFor="let a of descripciones(item)">
                        <table *ngIf="mostrarDescripcion" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="table-title">
                                        {{capitalizar(a.version_group.name.replaceAll("-"," "))}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fila">{{a.text }}</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div *ngIf="item.held_by_pokemon!=null && item.held_by_pokemon.length>0">
                    <button class="btn btn-lg btn-warning col-12"
                    style="margin-top: 1em; margin-bottom: 1em;"
                        (click)="mostrarPokemonSalvaje = !mostrarPokemonSalvaje">
                        <h4>Pokemon salvaje que poseen este objeto <i class="fa-solid fa-caret-down"></i></h4></button>
                        
                    <table *ngIf="mostrarPokemonSalvaje" class="table table-striped">
                        <tr>
                            <th scope="col" class="table-title">Pokemon</th>
                            <th scope="col" class="table-title">Probabilidad de encuentro</th>
                        </tr>
                        <tr *ngFor="let a of item.held_by_pokemon">
                            <td class="fila">{{a.pokemon.name}}</td>
                            <td class="probabilidades">
                                <table *ngFor="let b of a.version_details">
                                    <tr>
                                        <td class="probabilidades">{{b.version.name}}: </td>
                                        <td class="probabilidades">{{b.rarity}} %</td>
                                    </tr>

                                </table>
                        </tr>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>