<header class="p-3">
  <app-header></app-header>
</header>
<div class="cuerpo">
  <router-outlet></router-outlet>
</div>
<footer class="text-center">
  <p> @2022</p>
  <p> contactame:</p>
  <div class="wrapper">
    <ul class="">
      <li class=""><a href="https://www.linkedin.com/in/nicolas-urzagasti-0068961b7/" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i> </a></li>
        <li class=""><a href="mailto:nicolasurza@gmail.com" class="mail" target="_blank">

        <i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </div>
</footer>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->