@import "node_modules/bootstrap/dist/css/bootstrap.min.css"

header
  background-color: #EE2B34
  color: antiquewhite
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

footer
  background-color: #8a181e
  color: antiquewhite
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  width: 100%
  padding: 1em